[submodule "customer"]
	path = customer
	url = https://github.com/quark1412/FoodApp.git
[submodule "driver"]
	path = driver
	url = https://github.com/quark1412/FoodApp-Driver.git
[submodule "admin"]
	path = admin
	url = https://github.com/quark1412/FoodApp-Admin.git
